<a href="https://colab.research.google.com/github/shrikrishnau/EDA-on-Beverage-data/blob/main/EDA_of_data_on_North_America.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Necessary Libraries

In [20]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Importing File from Google Drive

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
x="/content/drive/MyDrive/Colab Notebooks/Case Study/Product Launch(NA).xlsx"
df=pd.read_excel(x)

In [39]:
df.head(5)

,Product id,Flavor,Market Subcategory,Launch Date,Country,Region,Positioning
0,1,"Fruit, not specified",Drink Concentrates & Mixes,2001-01-01,NA1,North America,"Dry, Low Fat, Low Sodium, Low Calorie, Low Carb"
1,2,"Cherry, Not specified; Vanilla, Not specified",Bottled Water - Flavoured,2001-01-01,NA1,North America,Convenience - Packaging
2,3,"Orange, not specified",Juice & Juice Drinks,2001-01-01,NA1,North America,"Low Calorie, Low Sugar"
3,4,"Superfruit, Pomegranate; Berry, Blackberry",Carbonates,2001-01-01,NA1,North America,"Female, Antioxidant, Low Calorie, Low Carb, Su..."
4,5,"Superfruit, acai; Herbs, not specified",Juice & Juice Drinks,2001-01-01,NA2,North America,"Heart Health, Antioxidant, Anti-Aging/Aging-We..."

In [40]:
df.tail(5)

,Product id,Flavor,Market Subcategory,Launch Date,Country,Region,Positioning
20080,20081,"Berry, Wildberry",Other Soft Drinks,2010-01-01,NA1,North America,"Low Calorie, Energy/Alertness, Ethical - Packa..."
20081,20082,"Raspberry, Not Specified",Other Soft Drinks,2010-01-01,NA1,North America,"Low Calorie, Energy/Alertness, Ethical - Packa..."
20082,20083,"Tea, White",Iced Tea,2010-01-01,NA1,North America,"Antioxidant, Natural, Ethical - Packaging, Con..."
20083,20084,"Tea, Green; Citrus, Not Specified",Iced Tea,2010-01-01,NA1,North America,"Antioxidant, Natural, Ethical - Packaging, Con..."
20084,20085,"Cherry, Not Specified",Energy Drinks,2010-01-01,NA1,North America,"Kosher, Juice Drinks (up to 25% juice), Allerg..."

In [41]:
df.shape

(20085, 7)

Product ID is not unique, the data is as same as serial number. Hence, product ID can be ignored.

In [42]:
df.columns

Index(['Product id', 'Flavor', 'Market Subcategory', 'Launch Date', 'Country',
       'Region', 'Positioning'],
      dtype='object')

In [63]:
df.value_counts('Country')

Country
NA1    18240
NA2     1844
NA3        1
dtype: int64

In [43]:
df.nunique()

Product id            20085
Flavor                 5280
Market Subcategory       13
Launch Date              11
Country                   3
Region                    1
Positioning            7663
dtype: int64

Cleaning the Data

In [44]:
df.isnull().sum()

Product id              0
Flavor                423
Market Subcategory      0
Launch Date             0
Country                 0
Region                  0
Positioning           551
dtype: int64

Since the null values constitute only a amount of the dataset, we can drop it.

In [52]:
data = df.dropna()
data.shape

(19118, 7)

In [47]:
(20085-19118)/20085

0.04814538212596465

Approximately 4.8% of the dataset

In [53]:
data.isnull().sum()

Product id            0
Flavor                0
Market Subcategory    0
Launch Date           0
Country               0
Region                0
Positioning           0
dtype: int64

Removing Unnecessay columns

In [54]:
da = data.drop(['Product id','Region'], axis=1)

In [55]:
da.head()

,Flavor,Market Subcategory,Launch Date,Country,Positioning
0,"Fruit, not specified",Drink Concentrates & Mixes,2001-01-01,NA1,"Dry, Low Fat, Low Sodium, Low Calorie, Low Carb"
1,"Cherry, Not specified; Vanilla, Not specified",Bottled Water - Flavoured,2001-01-01,NA1,Convenience - Packaging
2,"Orange, not specified",Juice & Juice Drinks,2001-01-01,NA1,"Low Calorie, Low Sugar"
3,"Superfruit, Pomegranate; Berry, Blackberry",Carbonates,2001-01-01,NA1,"Female, Antioxidant, Low Calorie, Low Carb, Su..."
4,"Superfruit, acai; Herbs, not specified",Juice & Juice Drinks,2001-01-01,NA2,"Heart Health, Antioxidant, Anti-Aging/Aging-We..."

## Conclusion

*   The Region North America is divided into 3 countries NA1, NA2, NA3 implying that the beverage data does not include all countries of the North America Region which is 23.
*   Since Product ID is not unique and listed similiar to Serial number, we can drop the column.
*   Majority (About 90%) of the flavors are being launched in the country NA1 followed by the country NA2 and a negligible amount of flavors are launched in country NA3
*   There are about 13 unique Market Subcategory for the North America Region.
*   The products have been launched between the years 2001 and 2010.
*   The data had a very less amount of NA values which were dropped from the table.